.modal_box {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  .ant-modal-title {
    font-weight: 700 !important;
    font-size: 20px !important;
  }
  .ant-modal-content {
    height: 100vh;
  }
  .ant-modal-body {
    padding: 0 24px !important;
  }
  .form_modal {
    width: 100%;
    .form_content {
      margin-bottom: 24px;
      width: 100%;
      display: flex;
      gap: 38px;
      .label_form {
        margin-bottom: 8px;
      }
      .note {
        color: #e23b40;
      }
      .sub-title {
        margin-top: 8px;
      }
      &_left {
        flex: 1;
      }
      &_right {
        flex: 1;
      }
    }
  }
}
