.ant-drawer-content-wrapper {
  width: 45% !important;
  transition: 0.5s !important;
  .ant-drawer-title {
    font-weight: 700;
    font-size: 20px;
    line-height: 32px;
  }
  .ant-tabs-tab {
    font-weight: 600;
  }
  .ant-tabs-tab-active {
    color: $text-hover !important;
  }
  .ant-drawer-body {
    padding: 0 24px;
  }
  .form_modal {
    width: 100%;
    .form_content {
      margin-bottom: 24px;
      width: 100%;
      display: flex;
      gap: 38px;
      .label_form {
        margin-bottom: 8px;
      }
      .note {
        color: #e23b40;
      }
      .sub-title {
        margin-top: 8px;
      }
      &_left {
        flex: 1;
      }
      &_right {
        flex: 1;
      }
    }
  }
}
