.sidebar {
  width: 279px;
  height: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  background: $bg-sidebar;
  border-right: 1px solid $color-border;
  &__header {
    align-items: center;
    height: 76px;
    padding: 16px 23px;
    display: flex;
    border-bottom: 1px solid $color-border;
    .header_logo {
      width: 30px;
      height: 30px;
      margin-right: 15px;
    }
    .header_text {
      margin-right: 10px;
      &-title {
        margin: 0;
      }
      .sub-title {
        margin: 0;
      }
    }
    .header_icon {
      width: 30px;
      height: 30px;
      background-color: #f1f1f1;
      border-radius: 50%;
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
      .icon {
        color: $text3;
      }
    }
  }
  &__navigation {
    flex: 1;
    .sidebar_navigation {
      display: flex;
      flex-direction: column;
      padding: 0 16px;
      .navigation-item {
        margin-top: 8px;
        border-radius: 4px;
        display: flex;
        padding: 14px 18px;
        color: $text1;
        transition: 0.3s;
        .icon_svg {
          margin-right: 10px;
          #icon-slider {
            fill: $text1;
            transition: 0.3s;
          }
        }
        &:hover {
          color: $text-hover;
          #icon-slider {
            fill: $text-hover;
          }
          transition: 0.3s;
        }
      }
    }
  }
  &__footer {
    align-items: center;
    height: 76px;
    padding: 16px 23px;
    display: flex;
    border-top: 1px solid $color-border;
    .footer_logo {
      width: 30px;
      height: 30px;
      margin-right: 8px;
    }
    .footer_text {
      margin-right: 10px;
      &-title {
        margin: 0;
      }
      .sub-title {
        margin: 0;
      }
    }
  }
}
